{% if section.blocks.size > 0 %}
  <link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'accordion.css' | asset_url }}" media="print" onload="this.media='all'">
  <noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
  <noscript>{{ 'accordion.css' | asset_url | stylesheet_tag }}</noscript>

  <div class="page-width accordion-section">
    {% if section.settings.heading != blank %}
      <h1 class="accordion-section__title">{{ section.settings.heading }}</h1>
    {% endif %}

    <accordion-component>
      {%- for block in section.blocks -%}
        <div class="accordion__slide">
          <button class="h3 accordion__btn-opener btn-element">{{ block.settings.heading | escape }}</button>
          <div class="accordion__text rte">
            {{ block.settings.text }}
          </div>
        </div>
      {%- endfor -%}
    </accordion-component>
  </div>

  <script src="{{ 'accordion.js' | asset_url }}" defer="defer"></script>
{% endif %}


{% schema %}
{
  "name": "t:sections.accordion.name",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "t:sections.accordion.blocks.slide.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.accordion.blocks.slide.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p></p>",
          "label": "t:sections.accordion.blocks.slide.settings.text.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.accordion.presets.name"
    }
  ]
}
{% endschema %}
